# This is Git's per-user configuration file.
[user]
	name = Jim Woods
	email = jim@tutt.dev
	signingkey = E040A04B3C1CD0EA
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[gitlab]
	user = dammitjim
