# This is Git's per-user configuration file.
[user]
	name = Jim Hill
	email = jim@tightenupthe.tech
	signingkey = 1B3C2A1E5B0A58F8
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[gitlab]
	user = dammitjim
